.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.menuItem {
  display: inline;
  margin-right: 2rem;
  color: white;

  padding: 2em;

}


/* Specific styles for active links */
.menuItem-active {
  color: black;
  background: orange;
}

.menuItem-disable {
  background: white;
}



/* @tailwind base;
@tailwind components;
@tailwind utilities; */


#wrapper {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* border: 1px solid blue; */
}

#divNegru {

  background: #222;
  display: inline-block;
  vertical-align: top;
  width: 320px;
  height: 320px;
  color: white;
  font-weight: bold;
  padding: 25px;
  border-radius: 4px;
  font-size: 90%;
  /* pointer-events: none; */

}


#div1 {

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 20px;
  padding-top: 20px;
  display: inline-block;
  width: 320px;
  height: 320px;
  /* border: 1px solid red; */
  background-color: #f8f9fa;
}

#div2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  vertical-align: top;
  text-align: center;
  display: inline-block;
  padding-left: 20px;
  padding-top: 20px;
  width: 350px;
  height: 320px;
  background-color: #f8f9fa;
  /* border: 1px solid green; */
}